body{
     margin: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(82, 43, 43);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* nova-square-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Nova Square';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/nova-square-v24-latin-regular.woff2') format('woff2');
  }
@font-face {
    font-display: swap; 
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/bebas-neue-v14-latin-regular.woff2') format('woff2');
  }
/* zen-tokyo-zoo-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Zen Tokyo Zoo';
    font-style: normal;
    font-weight: 400;
    src: url('/src/fonts/zen-tokyo-zoo-v7-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap; 
    font-family: 'Preahvihear';
    font-style: normal;
    font-weight: 400;
    src: url('/src/fonts/preahvihear-v29-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
#content{
  
   width:100%; 
   height: 100%;
}
.intro-page{
    
    width: 100%;
    display: grid;
     grid-template-rows: 6fr 1fr ; 
     height: 100%;
    gap: 1rem;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
   
} 
a{
    color: rgb(9, 2, 137);
    font-weight: 800;
    font-size: 2rem;
    background-color: rgb(255, 255, 255);  
    padding: 0.5rem;
    
}
a:hover{
    transform: translate(1);
    background-color:  rgb(253, 240, 2) ;
    border: rgb(0, 0, 0) solid 3px;
}

.logo{
    font-family: 'Nova Square';
    font-size: 4rem;
    font-weight: 900;
    color:rgb(83, 0, 0);
    text-shadow: 1px 4px rgb(207, 196, 196);
    
}

.logo:hover{
  color: rgb(30, 26, 1);
  border-bottom: 4px solid rgb(0, 8, 255);
}


.nav-items{
    font-size: 2rem;
    color: white;
}
.header{
    font-family: 'Zen Tokyo Zoo';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    padding: 1rem;
    gap: 1rem;
   
    background-image: url(./asset/panda.jpg);  
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
  }
.section-two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}
.about{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(8, 0, 115);
    font-weight: 600;
    font-size: 1rem;
}
.intro-img{
    background-image: url(./asset/share.jpg);
    background-position: right;
    background-size: cover;
}
h2{
    font-family: 'Bebas Neue';
    letter-spacing: 0.2rem;
    color: rgb(250, 250, 4);
}
.story{
    font-family: 'Preahvihear'; 
    text-align: center;
  

}
/* 3rd section */
.section-three{
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap:2rem; */
    padding: 1rem;
    
}
.open-time{
    background-color: rgb(253, 252, 254);
}
.contact{
    background-color: rgb(80, 67, 67);
}
footer{
    background-color: gray;
    color: beige;
}
footer > p{
    color: red;
}
/* menu page*/
/* .menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
} */
.wraps{
    justify-content: space-evenly;
}
.menu{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}
.menu-img{
    max-width:225px;
    height:225px;
    border-radius: 1rem;
    object-fit:cover;
    transition: transform 0.5s;
}
.menu-img:hover{
    transform: scale(1.2);
}
.about-food{
    font-family: 'Preahvihear';
    padding: 1rem;
}
.food-info{
    font-size: 1.3rem;
}
.food-name{
    color:rgb(0, 0, 0);
    text-shadow:1px  1px rgb(223, 2, 2);
    font-size: 2rem;
    font-weight: 900;
}
.about-food:hover{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(245, 247, 247);
  
border-radius: 1rem;
}
