body{
    
   
    margin: 0;
    width: 100vw;
    min-height: 100vh;
  background-color: rgb(82, 43, 43);
    display: flex;
    justify-content: space-between;
   
    
}
#content{
    width: 100%;
    display: grid;
    grid-template-rows: 8fr 6fr 4fr 1fr;
    gap: 1rem;
   
    
   

}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
   
} 
a{
    color: rgb(1, 0, 0);
    font-weight: 800;
    font-size: 2rem;
    transition: 10ms;
    background-color: rgb(182, 211, 211);
    border: 3px solid blue;
    padding: 0.5rem;
    
}
a:hover{
transform: translate(1);
background-color:  yellow ;
}

.logo{
    font-size: 4rem;
    font-weight: 900;
    color:rgb(0, 0, 0);
    
    border-radius: 1rem;
    background-color: rgb(216, 224, 221);
    border-bottom:4px solid red ;
    margin-bottom: 1rem;
}

.logo:hover{
    background-color: black;
    color: aliceblue;
    border-bottom: 4px solid yellow;
}


.nav-items{
    font-size: 2rem;
    color: white;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
width: 100%;
      background-image: url(./asset/eth-food.jpg);  
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;
   
}
.section-two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}
.about{
    color: rgb(254, 254, 254);
    font-weight: 600;
    font-size: 1rem;
    
    
}
.chief{
    background-image: url(./asset/gursha.jpg);
    background-position: right;
    background-size: cover;
}
h2{
    color: rgb(250, 250, 4);
}
.story{
    text-align: center;
    background-color: rgb(80, 67, 67);

}
/* 3rd section */
.section-three{
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
    padding: 1rem;
    
}
.open-time{
    background-color: rgb(253, 252, 254);
}
.contact{
    background-color: rgb(80, 67, 67);
}
footer{
    background-color: gray;
    color: beige;
}
footer > p{
    color: red;
}
